<!DOCTYPE html>
<html>
  <head>
    <title>KPI Dashboard</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel='stylesheet' href="/stylesheets/nouislider.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/javascripts/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/javascripts/json.js"></script>
    <script src="/javascripts/tabletojson.js"></script>
    <script src="/javascripts/dynatable.js"></script>
    <script src="/javascripts/nouislider.all.min.js"></script>
    <script src="/javascripts/bootbox.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
   <main class="content-wrapper">
    {{{body}}}  
   </main>
  </body>
</html>
