.panel {
    .gw_table {
        border: 0;
        border-bottom: 1px solid #ddd !important;
    }
}

.gw_grid_sourcing_th {
    border-top: 0;
}

.gw_grid_sourcing_td__slider {
    width: 100px;
}